<main class="min-h-screen flex flex-col items-center justify-center gap-8">
  <div class="flex flex-col items-center justify-center gap-2">
    <h1 class="text-6xl font-bold">{{ title }}</h1>
    <p class="text-xl">{{ date }}</p>
    <p class="text-xl">{{ status }}</p>
  </div>

  <!-- <div class="flex gap-4"> -->
  <div class="grid text-xl border-t-2 border-l-2 border-black">
    <div
      *ngFor="let row of grid; index as i"
      class="row flex"
      [ngClass]="{ 'border-b border-black': i % 3 === 2 }"
    >
      <div
        *ngFor="let cell of row; index as j"
        class="cell flex items-center justify-center w-8 h-8 border-b border-r border-black"
        [ngClass]="{ 'border-r-2': j % 3 === 2 }"
      >
        <div *ngIf="!cell.moddable; then showNumber; else showSelect"></div>
        <ng-template #showNumber>{{ cell.actual }}</ng-template>
        <ng-template #showSelect>
          <select
            class="appearance-none w-full h-full cursor-pointer outline-none text-center text-blue-500"
            (change)="updateCell(i, j, $event)"
          >
            <option
              *ngFor="let val of ['', '1', '2', '3', '4', '5', '6', '7', '8', '9']"
              [value]="val"
            >
              {{ val }}
            </option>
          </select>
        </ng-template>
      </div>
    </div>
  </div>

  <!-- <div class="text-xl border-t-2 border-l-2 border-black">
      <div
        *ngFor="let row of grid; index as i"
        class="flex"
        [ngClass]="{ 'border-b border-black': i % 3 === 2 }"
      >
        <div
          *ngFor="let cell of row; index as j"
          class="flex items-center justify-center w-8 h-8 border-b border-r border-black"
          [ngClass]="{ 'border-r-2': j % 3 === 2 }"
        >
          {{ cell.actual }}
        </div>
      </div>
    </div>
  </div> -->

  <button
    (click)="checkSolution()"
    class="btn-solve bg-blue-500 text-white font-bold py-2 px-4 rounded"
    [ngClass]="{
      'opacity-50': solved,
      'hover:bg-blue-700': !solved,
    }"
  >
    Check
  </button>
</main>
