<main class="min-h-screen flex flex-col items-center justify-center">
  <section
    id="screenshot-area"
    class="mb-8 sm:p-12 sm:border-4 sm:border-double sm:border-gray-500"
  >
    <app-header [downloading]="downloading" [status]="status" />

    <app-grid
      [grid]="grid"
      [downloading]="downloading"
      [disabled]="solved"
      (updateCell)="updateCell($event.i, $event.j, $event.e)"
    />
  </section>

  <app-controls [solved]="solved" (checkSolution)="checkSolution()" (download)="download()" />
</main>
